extends layout.pug
block nav
	include navbar.pug
	block content
	div.container-md
		div.col-12.text-center(style='margin-top: 10px;')
			h1 Welcome #{show_username}
			h3 ID: 
				span#account_id #{show_id}
		.col-12(style='margin-top: 3em; margin-bottom: 3em;')
			p.line.shadow-sm
				span.text_on_line Explore all task

		div.col-12.text-center(style='margin-top: 10px;')
			div.row
				each data in task
					div.col-12.col-sm-12.col-lg-4.col-md-6(style='margin-bottom: 10px;')
						.card.shadow-sm
							.card-header.text-left
								span.badge.badge-info
									|#{data.task_name}
								div(style='font-size:0.75em;') Last Modify: #{moment(data.time).format("DD-MM-YYYY HH:mm")}
								div(style='font-size:0.75em;')
									i(class="fas fa-user")
									|&nbsp;#{data.account}
								.row
									div.col-6(style='font-size:0.75em;')
										span(class='like-count' data-id= data._id)
											|#{data.likes_count}
										|&nbsp;
										i(class="fas fa-heart", style='color: #d82c2c;')
									div.col-6(style='font-size:0.75em;' align='right')
										|&nbsp;#{data.comment.length} comment
							.card-body
								div #{data.desc}
							.card-footer
								.col-12.row(style='margin-left:0px !important; margin-right:0px !important')
									div.col-12
										a(href=`/task/${data._id}`)
											button(class='edit_btn btn btn-sm btn-outline-success' data-id= data._id)
												i(class="far fa-eye")
												|&nbsp;View
										button(class='like_btn btn btn-sm btn-outline-primary' data-id= data._id style='margin-left: 10px;')
											i(class="far fa-thumbs-up")
											|&nbsp;Like
		//- pagination
		-var n = 1;
		nav(aria-label='Page navigation example')
			ul.pagination.justify-content-center
				if page != 1
					li.page-item
						a.page-link(href=`?page=${page-1}`) Previous
				while n <= totalPages
					li.page-item(class=(n == page ? 'active': ''))
						a.page-link(href=`?page=${n}`)= n++
				if page < totalPages
					li.page-item
						a.page-link(href=`?page=${page+1}`) Next

	//Script
	script(src="./javascripts/Like.js")